html, body{
  height: 100%;
  width: 100%;
}

body {
  font-family: Optimo-Plain,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-after-overflow: center;
  background-color: white;
  color: #1d232f;
}

h1 {
  background-color: rgb(28,78,169);
  color: white;
}

#embed {
  height: 100%;
  width: 100%;
}

/* Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; */ /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal content/box */
.modal-content {
    background-color: #fefefe;
    overflow: auto; /* Enable scroll if needed */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 95%;
}

.modal-data-content {
    align-content: center;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
