/*
 * Style sheet for showing custom actions.
 */

/* Standard table formatting */
table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    font-family: sans-serif;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

/* Highlighting for the resulting action data. */
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

/* The custom action will be displayed in a modal popup that can be closed. */

/* Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 90vw;  /* Most of the width */
    height: 50vh;
    /* overflow: auto; */ /* Enable scroll if needed */
    padding-left: 5vw;
}

/* Modal content/box */
.modal-content {
    background-color: #fefefe;
    overflow: auto; /* Enable scroll if needed */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: 50vh;
}

#modal-data-content {
    align-content: center;
    height: 45vh;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
