html, body{
  height: 100%;
  width: 100%;
}

body {
  font-family: Optimo-Plain,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-after-overflow: center;
  background-color: white;
  color: #1d232f;
}

h1 {
  background-color: rgb(28,78,169);
  color: white;
}

#full-embed {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #EAEDF2;
}

.embed-container {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  width: 100%;
  background-color: #EAEDF2;
}

.embed {
  height: 50%;
  width: 48%;
  padding: 10px;
}
