html, body{
  height: 100%;
  width: 100%;
}

body {
  font-family: Optimo-Plain,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-after-overflow: center;
  background-color: white;
  color: #1d232f;
}

h1 {
  background-color: rgb(28,78,169);
  color: white;
}

#embed {
  height: 100%;
  width: 100%;
}
