# This file has the configuration items for the gettoken service.
# Each configuration line should be in the form <config-item>=<config-value>.
# Lines that start with a '#' are ignored.

# ThoughtSpot Settings
ts-url = https://<your-ts>.thoughtspot.cloud
ts-username = <username>
ts-password = <password>
ts-secret = <secret for cluster from Developer Portal>